<!-- <html>
    <head><title>
        <%= title %>
    </title></head>

    <body>
        <!--adding partials to the ejs file-->
        <!-- <%- include('_header'); -%> --> 
<link rel="stylesheet" href="css/user_profile.css">
        <h1> Codiel <%= title %></h1>

        <!-- <%- include ('_footer'); %>
    </body>
</html> -->